<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I Fed A Duck</title>
</head>

<body>
    <h1>I Fed A Duck</h1>
    <div id="root"></div>
</body>

</html>